body {
    width: 600px;
    margin-left: 250px;
    padding-top: 50px;
}

p#last_updated {
    margin: 0 0 10px 20px;
}

ul#repository_list {
    list-style-type: none;
}

ul#repository_list li {
    margin-bottom: 20px;
}

ul#repository_list li h2 {
    margin: 0;
}

ul#repository_list li div.repository_info {
    color: grey;
    font-size: 80%;
    margin: 0 0 5px 0;
}

ul#repository_list li p {
    margin: 0;
}

ul#repository_list li p.dirty {
    color: red;
}

ul#repository_list li p.clean {
    color: green;
}

ul#repository_list li p.out_of_sync {
    color: red;
}

ul#repository_list li p.in_sync {
    color: green;
}

